[core]
	excludesfile = /opt/boxen/config/git/gitignore
	editor = /usr/bin/vim
[include]
	path = $HOME/.gitconfig.local
[color]
	diff = auto
	branch = auto
	interactive = auto
	status = auto
	ui = auto
[mergetool]
	keepBackup = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[http]
	postBuffer = 524288000

[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential
[user]
	name = toshiaki.akane
	email = toshiaki.akane@gmail.com
[push]
	default = matching
